<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Booking Confirmation</h1>
<p>Dear <%= @booking.first_name %> <%= @booking.last_name %>,</p>
<p>Your booking has been confirmed.</p>
<!-- Add more content as needed -->
</body>
</html>